body {
    background-color:hsl(220, 15%, 90%);
    text-align: center; 
    padding-top: 80px;
    
}
img {
    margin-top: 15px;
    border-radius: 10px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700px;
    text-align: center;
    line-height: 20px;
}

p {
    line-height: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0 10px;
}

#wrap {
   box-sizing: border-box;
   display: block;
   margin: 0 auto;
   border: none;
   border-radius: 20px;
   width: 290px;
   height: 420px;
   background-color:hsl(0, 0%, 100%); 
}
